.body {
    font-family: 'Montserrat', sans-serif;
    background-color: beige;
    color: #222;
    max-width: 1000px;
    margin: 30px auto;
    text-align: center;
    line-height: 1.4;
}

.body--darkTheme {
    background-color: #a39999;
}